@font-face {
    font-family: 'guess';
    src: url('deartype_-_guesssans-regular-webfont.eot');
    src: url('deartype_-_guesssans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('deartype_-_guesssans-regular-webfont.woff2') format('woff2'),
         url('deartype_-_guesssans-regular-webfont.woff') format('woff'),
         url('deartype_-_guesssans-regular-webfont.ttf') format('truetype'),
         url('deartype_-_guesssans-regular-webfont.svg#guess_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'guess';
    src: url('deartype_-_guesssans-bold-webfont.eot');
    src: url('deartype_-_guesssans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('deartype_-_guesssans-bold-webfont.woff2') format('woff2'),
         url('deartype_-_guesssans-bold-webfont.woff') format('woff'),
         url('deartype_-_guesssans-bold-webfont.ttf') format('truetype'),
         url('deartype_-_guesssans-bold-webfont.svg#guess_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

